{#
/**
 * @file
 * Attachment component.
 *
 * Variables:
 * - content_top: [string] Content slot.
 * - title: [string] attachment title.
 * - content: [string] attachment content.
 * - files: [array] Array of files containing:
 *   - name: [string] File name (as it appears to the user).
 *   - ext: [string] File extension.
 *   - url: [string] File URL.
 *   - size: [string] File size (as it appears to the user).
 *   - created: [string] File created date.
 *   - changed: [string] File chnaged date.
 *   - icon: [string] File type icon name.
 * - content_bottom: [string] Content slot.
 * - theme: [string] Theme: light, dark.
 * - vertical_spacing: [string] With top, bottom or both vertical spaces.
 * - with_background: [boolean] With background or not.
 * - attributes: [string] Additional attributes.
 * - modifier_class: [string] Additional classes.
 */
#}

{% extends '@ct-molecules/attachment/attachment.twig' %}

{% block links_block %}
  {% set link_items = [] %}
  {% for file in files %}
    {%- set link %}
      {% include 'civictheme:icon' with {
        symbol: file.icon ? file.icon : 'download-file',
        size: 'large',
        modifier_class: 'ct-attachment__links__link__icon',
      } only %}

      <div class="ct-attachment__links__link__wrapper">
        {% if file.ext is not empty and file.size is not empty %}
          {% set extension = ' <span class="ct-attachment__links__link__extension">(%s, %s)</span>'|format(file.ext, file.size) %}
        {% elseif file.ext is not empty or file.size is not empty %}
          {% set extension = ' <span class="ct-attachment__links__link__extension">(%s)</span>'|format(file.ext ?? file.size) %}
        {% endif %}

        {% include 'civictheme:link' with {
          theme: theme,
          text: file.name,
          title: 'Download %s'|format(file.name),
          url: file.url,
          modifier_class: 'ct-attachment__links__link'
        } only %}

        {{ extension|raw }}
      </div>
    {% endset -%}
    {% set link_items = link_items|merge([link]) %}
  {% endfor %}

  {% include 'civictheme:item-list' with {
    items: link_items,
    direction: 'vertical',
    modifier_class: 'ct-attachment__links',
  } only %}
{% endblock %}
